<app-dashboard-panel>
    <mat-card-header>
        <mat-card-title>HTTP 错误详情</mat-card-title>
    </mat-card-header>
    <mat-card-content class="scrollable">
        <mat-accordion multi>
            @let requests = (requests$ | async) ?? {};
            @for (key of Object.keys(requests); track key) {
                <mat-expansion-panel expanded="true">
                    @let url = requests[key]?.url() ?? "no content";
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ key }}</mat-panel-title>
                        <mat-panel-description class="error-status">
                            <mat-chip class="error-chip">{{ requests[key]?.method }}</mat-chip>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <section class="url">
                        <mat-panel-title>完整的请求链接</mat-panel-title>
                        <mat-panel-description>
                            <code class="full-url">{{ url }}</code>
                        </mat-panel-description>
                    </section>
                    <mat-divider></mat-divider>
                    <section class="headers">
                        @for (header of requests[key]?.headers?.entries() ?? []; track header[0]) {
                            <h6 class="name">{{ header[0] }}</h6>
                            <code class="value right">{{ header[1] }}</code>
                        }
                    </section>
                </mat-expansion-panel>
            }

            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>服务端返回响应</mat-panel-title>
                    <mat-panel-description class="error-status">
                        <mat-chip class="error-chip">{{ (httpErrorResponse$ | async)?.statusText }}</mat-chip>
                        <mat-chip class="error-chip">{{ (httpErrorResponse$ | async)?.status }}</mat-chip>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <section class="error-detail">
                    <mat-panel-title>错误详情</mat-panel-title>
                    <mat-panel-description>
                        <pre><code>{{ errorMessage$ | async }}</code></pre>
                    </mat-panel-description>
                </section>
                <mat-divider></mat-divider>
                <section class="headers">
                    <!--                    @for (header of requests[key]?.headers?.entries() ?? []; track header[0]) {-->
                    <!--                        <h6 class="name">{{ header[0] }}</h6>-->
                    <!--                        <code class="value right">{{ header[1] }}</code>-->
                    <!--                    }-->
                </section>
                <mat-divider></mat-divider>
                <section class="error-chain">
                    <div class="main-message">
                        <div class="left">
                            <h5>错误链</h5>
                            <div class="v-dash"></div>
                        </div>
                        <pre class="right"><code>{{ mainMessage$ | async }}</code></pre>
                    </div>
                    <div class="h-dash" style="height: 1px; margin-left: 28px"></div>
                    @for (causeMessage of (causeMessages$ | async); track causeMessage) {
                        <div class="cause-message">
                            <div class="left">
                                <div class="v-dash"></div>
                                <div class="h-dash"></div>
                            </div>
                            <pre class="right"><code>{{ causeMessage }}</code></pre>
                        </div>
                    }
                </section>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</app-dashboard-panel>
