@use "@angular/material" as mat;

:host {
    overflow: hidden;
    flex:     1;
    width:    100%;

    code {
        text-wrap:  auto;
        word-break: break-word;
    }

    .panel-header {
        align-items:     center;
        justify-content: space-between;
        gap:             12px;

        .form-suffix {
            width:       82.5px;
            margin-left: auto;
            flex-shrink: 0;
        }

        mat-card-title {
            display:     flex;
            align-items: center;
            margin:      0;
        }
    }

    ::ng-deep .panel-header .mat-mdc-card-header-text {
        display:     flex;
        align-items: center;
        margin:      0;
    }

    .content-urls {
        display:  flex;
        overflow: hidden;
        flex:     1;
    }

    section.urls {
        display:        flex;
        flex:           1;
        flex-direction: column;
        gap:            8px;

        mat-card {
            // overflow:      hidden;
            flex:          1;
            border-radius: 6px;

            mat-card-header {
                justify-content: space-between;
                padding:         8px 12px;
            }

            mat-card-content {
                padding:                    8px 12px;
                border-bottom-right-radius: inherit;
                border-bottom-left-radius:  inherit;
                background:                 #0f1114;
            }

            .desc {
                font-size:   12px;
                font-weight: 500;
                line-height: 25px;
                height:      100%;
                color:       var(--mat-sys-primary);
            }

            .url {
                font-size:   12px;
                font-weight: 400;
                line-height: normal;

                a {
                    text-decoration: none;
                    color:           inherit;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
